<div class="container color-dark">
  <div class="col">
    <p>Add ToDo item</p>
  </div>
  <div class="col">
      <p>Your list of ToDos contain {{itemCount}} items</p>
    </div>
</div>
<div class="container color-light" [@goals] = "goals.length">
    <div class="col">
      <p class="sm">Put ToDo description in this field:</p>

      <form>
        <input type="text" class="txt" name="item" placeholder="Your goal here" [(ngModel)]="goalText">
        <br><span>{{goalText}}</span>
        <input type="submit" class="btn" [value]=btnText (click)="addItem()">
      </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let todo of toDos; let i = index" (click)="removeItem(i)">
          {{todo.description}}
        </p>
      </div>
  </div>
  